
.pClassBlue {
    text-align: left;
    font-size: 40px;
    color: darkblue;
}
#header {
    background-color: #f2f2f2;
    font-size: 50px;
    color: #666;
    padding: 50px;
    text-align: center;
}
#header h1{
    color: orange;
    font-size: 40px;
    text-align: center;
}

#body{

}

#body a {
    font-size: 60px;
    color: blue;
    text-decoration: none;
}

#body a:hover {
    color: purple;
}

#body img {
    max-width: 90%;
    height: auto; /* This ensures the aspect ratio is maintained */
    display: block; /* Removes extra space below inline images */
    margin: 0 auto; /* Centers the image within its container */
}